<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>D:\IntelliJ IDEA Community Edition 13.1.4\Habbo\Habbo.jar</jar>
  <outfile>D:\Test.exe</outfile>
  <errTitle>Java Not Found.</errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>true</stayAlive>
  <restartOnCrash>true</restartOnCrash>
  <manifest></manifest>
  <icon></icon>
  <singleInstance>
    <mutexName>Emulator</mutexName>
    <windowTitle>Arcturus</windowTitle>
  </singleInstance>
  <classPath>
    <mainClass>com.eu.habbo.Emulator</mainClass>
  </classPath>
  <jre>
    <path></path>
    <bundledJre64Bit>false</bundledJre64Bit>
    <bundledJreAsFallback>false</bundledJreAsFallback>
    <minVersion>1.5.0_11</minVersion>
    <maxVersion>1.7.0_11</maxVersion>
    <jdkPreference>preferJre</jdkPreference>
    <runtimeBits>64/32</runtimeBits>
  </jre>
</launch4jConfig>